* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* HEADER */
.header {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 16px;
    background: white;

    position: sticky;
    top: 0;
    z-index: 100;
}

.hamburger {
    font-size: 26px;
    cursor: pointer;
    color: #888;
}

.brand {
    display: flex;
    align-items: center;
    gap: 10px;
}

.brand img {
    width: 48px;
}

.brand span {
    font-size: 20px;
    font-weight: bold;
    color: #e0b400;
}

/* DIVIDER */
.divider {
    height: 4px;
    background: #555;
    border: none;

    position: sticky;
    top: 72px; /* tinggi header */
    z-index: 99;
}

/* SIDEBAR */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 260px;
    height: 100vh;
    background: #7b5a9c;
    padding: 20px;
    transform: translateX(-100%);
    transition: 0.3s ease;
    z-index: 1;
}

.sidebar.open {
    transform: translateX(0);
}

/* MENU */
.menu {
    list-style: none;
    margin-top: 80px;
}

.menu li {
    color: white;
    font-size: 16px;
    margin-bottom: 14px;
}

/* SIDEBAR FOOTER */
.sidebar-footer {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.sidebar-footer img {
    width: 28px;
}

.sidebar-footer p {
    font-size: 12px;
    color: white;
}

/* CONTENT */
.content {
    height: 2000px; /* biar kebaca kosongnya */
}
